.partner .col {
  text-align: center;
}

.partner .col h2 {
  color: #000000;
}

.partner .col img {
  width: 150px;
  height: auto;
  transition: all 0.1s;
}

.partner .col img:hover {
  transform: scale(1.025);
}

.partner .row .col.big a img {
  width: 300px !important;
}

.partner .row .col.medium a img {
  width: 200px !important;
}
