<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>

    {{- partial "header.html" . -}}


    <div class="container-fluid heading first"
        style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url('{{ .Params.image | relURL }}');">
        <div class="row">
            <div class="col p-5">

                <h1>
                    {{ .Title }}
                </h1>

            </div>
        </div>
    </div>

    {{- partial "text.html" . -}}

    {{- partial "footer.html" . -}}

</body>

</html>