<div class="container-fluid cancelled signup"
  style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('{{ .Params.cancelled.image | relURL }}');">
  <div class="row p-5">
    <div class="col p-5">

      <h2 class="mb-4">{{ .Params.cancelled.heading }}</h2>
      <div class="text mb-2">
        {{ .Params.cancelled.text1 }}
      </div>
      <div class="text mb-2">
        {{ .Params.cancelled.text2 }}
      </div>
      <div class="text mb-2">
        {{ .Params.cancelled.text3 }}
      </div>
      <div class="text mb-2">
        {{ .Params.cancelled.text4 }}
      </div>
      <div class="text">
        {{ .Params.cancelled.text5 }}
      </div>

    </div>
  </div>
</div>
