<div class="container-fluid cards">
    <div class="row pl-5 pr-5">
        <div class="col pt-5 pl-5 pr-5 pb-5">
            <h2 class="mb-4">News</h2>
            <div class="card-deck">
                {{ range first 5 (where .Site.Pages ".Type" "blogpost") }}
                <a href="{{ .Permalink }}">
                    <div class="card mt-3">
                        {{ if .Params.video }}
                        <video src="{{ .Params.video | relURL }}" autoplay muted loop></video>
                        {{ else }}
                        <img src="{{ .Params.image | relURL }}" class="card-img-top" alt="{{ .Params.image_alt }}">
                        {{ end }}
                        <div class="card-body">
                            <h6 class="card-title">

                                {{ $taxo := "tags" }}
                                {{ range .Param $taxo }}
                                {{ $name := . }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                                <a href="{{ .Permalink }}">#{{ $name }}</a>  
                                {{ end }}
                                {{ end }}

                            </h6>
                            <h5 class="card-text">{{ .Title }}</h5>
                            <small>{{ dateFormat "2 January, 2006" .Date }}</small>
                        </div>
                    </div>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
