<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" type="image/jpg" href="{{ .Site.BaseURL }}/logo/dss.png"/>

    <!-- holt main.sass unter themes/mia/assets und generiert daraus CSS-->
    {{ $css := resources.Get "main.sass" | toCSS (dict "targetPath" "css/main.css") }}
    <script src="{{ .Site.BaseURL }}/js/jquery-3.4.1.min.js"></script>
    <script src="{{ .Site.BaseURL }}/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/ekko.css">

    <script src="{{ .Site.BaseURL }}/ekko.min.js"></script>

    <script src="{{ .Site.BaseURL }}/js/main.js"></script>

    <link rel="stylesheet" href="{{ ($css).RelPermalink }}">


</head>
