{{ if eq .Type "blogpost" }}
<div class="container-fluid heading first"
    style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 200px, rgba(0,0,0,1)), url('{{ .Params.image | relURL }}');">
{{ else }}
<div class="container-fluid heading first"
    style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 200px, rgba(0,0,0,1)), url('{{ .Params.heading.image | relURL }}');">
{{ end }}

    <div class="row">
        <div class="col p-5">

            {{ if eq .Type "blogpost" }}
            <h6 class="card-title">
                {{ $taxo := "tags" }}
                {{ range .Param $taxo }}
                {{ $name := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                <a href="{{ .Permalink }}">#{{ $name }}</a>
                {{ end }}
                {{ end }}
            </h6>
            {{ end }}

            <h1>
                {{ if eq .Type "blogpost" }}
                    {{ .Title }}
                {{ else }}
                    {{ .Params.heading.text }}
                {{ end }}
            </h1>

            {{ if eq .Type "blogpost" }}
            <small>{{ dateFormat "2 January, 2006" .Date }}</small>
            {{ end }}


        </div>
    </div>
</div>