<div id="nav_overlay" class="overlay">

  <div class="container-fluid">
    <div class="row close p-0">
      <div class="col p-3 pr-3">

        <svg class="closebtn" onclick="closeNav()" class="c-guide-menu-toggler__icon-close" version="1.1"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <path
            d="M7.219 5.781l8.781 8.781 8.781-8.781 1.438 1.438-8.781 8.781 8.781 8.781-1.438 1.438-8.781-8.781-8.781 8.781-1.438-1.438 8.781-8.781-8.781-8.781z">
          </path>
        </svg>

      </div>
    </div>
    <div class="row pt-2">
      <div class="col p-3">
        <div class="overlay-content">
          <a class="pb-5" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.Params.logo.src | relURL }}" alt="{{ .Site.Title }} Logo">
          </a>
          <div class="menu-list pt-4">
            <ul>
              {{ range .Site.Menus.main }}
              <li>
                <h2><a href="{{ .URL | relURL }}" {{ if eq .Name "Anmelden" }} target="_blank" {{ end }}>{{ .Name }}</a>
                </h2>
                {{ if .HasChildren }}
                <ul>
                  {{ range (.Children) sort ".Weight" }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
                {{ end }}
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- script to open / close navigation overlay -->
<script>
  function openNav() {
    $($('#nav_overlay')[0]).css('height', '100%');
  }
  function closeNav() {
    $($('#nav_overlay')[0]).css('height', '0');
  }
</script>
