<div class="container-fluid newsletter mt-4">
    <div class="row">
        <div class="col p-5">
            <h2 class="mb-4 mt-4">News, Updates & Änderungen - direkt in deine Inbox.</h2>
            <form action="https://formspree.io/mledbakv" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" id="mailadress" name="mailadresse" placeholder="Deine Mailadresse">
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                </div>
            </form>
        </div>
    </div>
</div>