<div class="container-fluid signup first"
  style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('{{ .Params.signup.image | relURL }}');">
  <div class="row p-5">
    <div class="col p-5">
      <div class="w-100">
        <h2 class="{{ if .Params.signup.link_text }}mb-4{{ end }}">{{ .Params.signup.text }}</h2>
        {{ if .Params.signup.link_text }}<a href="{{ .Params.signup.link }}" class="btn btn-primary" target="_blank">{{
          .Params.signup.link_text }}</a>{{ end }}
      </div>
      {{ if .Params.signup.link_text }}<div class="w-100">
        <p class="text mb-4 mt-4">{{ .Params.signup.info }}</p>
        <a href="{{ .Params.signup.info_link }}" class="btn btn-primary">{{
          .Params.signup.info_link_text }}</a>
      </div>{{ end }}
    </div>
  </div>
</div>
